*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 80vh;
  width: 100vw;
}
#container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 1em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}
.home {
  background-color: magenta;

}
.purple {
  background-color: purple;
  color:white;
}
.orange {
  background-color: orange;
  color:white;
}
#footer{
  background-color: rgb(19, 34, 193);
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 1em 0;
}